<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="https://image.flaticon.com/icons/png/512/119/119111.png" class="app-logo" style="width: 75px; height: 60px;"alt="Logo" />
    <a class="navbar-brand" routerLink="/home">Picka Table</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Inicio</a
          ><span class="sr-only">(current)</span>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservaciones">Reservaciones</a>
        </li>
  
        
      </ul>
  
    
    
  
      <ul class="navbar-nav mr-2"  *ngIf="user$ | async as user; else loginButton" >
        <li class="nav-item">
          <a class="nav-link">
            {{ user?.email }}
          </a>
        </li>
        <li class="nav-item mt-2">
          <button
            class="btn btn-secondary btn-sm my-2 my-sm-0 ml-2"
            *ngIf="user"
          (click)="onLogout()"
          >
            Cerrar Sesion
          </button>
        </li>
      </ul>
      <ng-template #loginButton>
        <ul class="navbar-nav mr-2">
          <li class="nav-item">
            <button
              class="btn btn-secondary mt-2 btn-sm my-2 my-sm-0"
              routerLink="/login"
            >
              Ingresar
            </button>
          </li>
  
          <li class="nav-item">
            <button
              class="btn btn-secondary mt-2 btn-sm my-2 my-sm-0 ml-2"
              routerLink="/registro"
            >
              Registarse
            </button>
          </li>
        </ul>
      </ng-template>
    </div>
  </nav>
  
